<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/efa5779765.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Audiowide">
    <link rel="stylesheet" href="style1.css">
    
    <title>Single post</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="logo_text"><span class="begin">ShareLIFE</span><span className="later">now</h1>
        </div>
        <i class="fa fa-bars menu_toggle"></i>
        <ul class="nav">
            <li><a href="blog_website.html">Home</a>
            </li>
            <li><a href="#">About</a></li>
            
            
            <li>
                <a href="#">
                    <i class="fa fa-user"></i>User
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul>
                    <li><a href="#" class="dashboard">Dashboard</a></li>
                    <li><a href="#" class="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="content clearfix">

        <div class="main_content single">
            <h1 class="post_title">Adenovirus cases spike in West Bengal</h1>
            <div class="post single">
                <img src="https://etimg.etb2bimg.com/photo/98235462.cms" alt="">
                <p>At present, West Bengal is witnessing a sudden spike in adenovirus cases, with health officials reporting that at least 30 per cent of samples sent to the National Institute of Cholera and Enteric Diseases (ICMR-NICED) in Kolkata since January have tested positive for the virus. Adenovirus, which causes a mild cold, or flu-like, illness and can affect people of all ages, is especially affecting children with pediatric wards in hospitals filling up quickly.

                What is adenovirus?
                    
                According to the US Centers for Disease Control and Prevention (CDC), adenovirus is a common virus that causes mild cold or flu-like illness that can affect people of all ages. There are various types of human adenovirus, some of which are associated with severe forms of diseases and can cause life-threatening complications while others can cause milder infections.</p>
            </div>
        </div>
        </div>
    </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="js/script.js"></script>
</body>
</html>